@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: white;
  color: black;
}

.border {
  width: 110px;
  height: 5px;
  background: linear-gradient(to right, #624FFB, #DA04CF);
  border-radius: 100px;
  display: flex;
  justify-self: center;
  margin-top: 15px;
}

.container {
  max-width: 1400px;
  width: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
  font-family: Inter;
}

.downloadBtn,
.getStarted-btn,.github-link {
  background: linear-gradient(to right, #624FFB, #DA04CF);
  color: white;
  padding: 18px 28px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-family: inter;
}

.downloadBtn:hover,
.getStarted-btn:hover {

  transform: translateY(-4px);
}

.gradient-text {
  background: linear-gradient(to right, #624FFB, #DA04CF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link li {
  list-style-type: none;
}

.nav-link a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.4s;
  display: inline-block;
}

.nav-link a:hover {
  background: linear-gradient(to right, #624FFB, #DA04CF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);

}

.banner-heading {
  font-size: 60px;
  padding-bottom: 15px;
}

.github-link{
  display: flex;justify-self: center;align-items: center;gap: 8px ;width: 160px;margin-top: 30px;
}